@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background-color: #f7f7f7;
}
.clear {
    clear: both;
}
.float {
    float: left;
}
.wrap {
    height: 100vh;
}
/* whole container inner */
.inner {
    width: 1280px;
    margin: 0 auto;
}
/* header */
header {
    height: 80px;
    margin-top: 14px;
    
}
.icon_button {
    background: inherit;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.header_container {
    padding-bottom: 10px;
    border-bottom: solid #dddddd 1px;
}
/* small leters on header */
.nav_head_left, .nav_head_right {
    font-size: 12px;
    color: #707070;
}
/* left */
.nav_head_left {
    padding-top: 40px;
}
/* header center logo */
.nav_head_center img {
    width: 265px;
    height: 54px;
}
/* header right text */
.nav_head_right{
    padding-top: 40px;
}
.nav_head_right a:hover {
    text-decoration: underline;
}

/* top nav bar */
.top_nav_bar {
    width: 1280px;
    margin: 0 auto;
    height: 34px;
    border-bottom: 2px solid #707070;
}
.left_area {
    font-size: 20px;
}
.left_area span:nth-child(1){
    margin-right: 10px;
}
.center_area a:nth-child(-n+11){
    margin-right: 20px;
    font-weight: bold;
}
.center_area a:last-child {
    margin-left: -24px;
}
/* main layout */
.news_main_layout  {
    margin-top: 30px;
    /* left: 300px; */
    width: 100%;
    /* position: absolute; */
}
.newsarticle_1_title {
    font-size: 34px;
    font-weight: 600;
    letter-spacing: -3px;
    color: #222222;
    padding-left: 20px;
    margin-bottom: 20px;
}
.newsarticle_1_title:hover {
color: #838383;
}
.main_news_container {
    width: 1000px;;
    float: left;
    height: 240px;
    padding-bottom: 55px;
    border-bottom: 1px solid #000000;
}
.main_news_container img {
    width: 280px;
    float: left;
    margin-right: 20px;
}
.main_news_container ul {
    margin-left: 300px;
    list-style: none;
}
.main_news_container ul li {
    font-size: 16px;
    padding-bottom: 5px;
}
.main_news_container ul li::before {
    content: "• ";
    color: #777777;
}
.main_news_container ul li a:hover {
    border-bottom: 1px solid #000000;
}
.newsarticle_1{
    width: 700px;
    height: 7em;
    font-size: 14px;
    color: #777777;
    white-space: normal;
    line-height: 1.4em;
    text-align: left;
    word-wrap: break-word;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    padding-bottom: 110px;
}
/* 메인 뉴스영역 아래 기사제목들 */
.news_title_container{
    width: 610px;
    display: inline-block;
    margin-top: 15px;
    padding-right: 10px;
    border-right: 1px solid #dddddd;
}
.news_title_box {
    width: 100%;
}
.news_title_container .news_title_box:first-child{
    margin-top: -15px;
}
.news_title{
    font-size: 21px;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
    width: 100%;
}
.thumb_news_title {
    font-size: 21px;
    padding: 18px 0; 
    width: 100%;
}
/* gif 배너 */
.right_newsarea{
    float: left;
}
.gif_box img{
    width: 92%;
}
/* 메인 작은 뉴스영역 */
.main_side {
    width: 370px;
    margin-top: 10px;
    border-top: 1px solid #dddddd;
}
.right_news_title {
    font-size: 20px;
}
.main_side img {
    margin-top: 15px;
    width:90%;
}
/* 측면 뉴스영역 제목 */
.side_title_area {
    padding-bottom: 20px;
}
.side_newsarea_title {
    padding-right: 7px;
    font-size: 18px;
}
.side_newsarea i {
    font-size: 16px;
}

/* 측면 뉴스영역 뉴스 */
.side_wrap {
    float: left;
}
.side_wrap_box {
    float: left;
}
.side_wrap_box  img {
float: right;
}
/* 오피니언 제목 아래 첫번째 측면뉴스 영역 */
/* 뉴스영역 box */
.side_newsarea {
    margin-top: 20px;
    padding: 15px;
    width: 260px;
    height: 630px;
    background: #ffffff;
    border: 1px solid #eaeaea;
}
.side_newsarea .side_article_box:nth-child(-n + 4){
    margin-bottom:7px;
    border-bottom: 1px solid #eaeaea;
}
/* 개별 뉴스영역 */
.side_article_box {
    height: 20%;
}
.side_article_box span{
    font-size: 18px;
}
.side_articles_title {
    color: #707070;
}
.side_article_box > img {
    width: 52px; 
    right: 30px;
}
.side_article {
    font-size: 19px;
    letter-spacing: -2px;
    line-height: 30px;
}
