@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
}
a {
    text-decoration: none;
    color: inherit;
}
/* whole container inner */
.inner {
    width: 1280px;
    margin: 0 auto;
}
/* header */
header {
    height: 80px;
    margin: 14px;
    
}
.icon_button {
    background: inherit;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.header_container {
    display:flex;
    flex-flow : row wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
    border-bottom: solid #dddddd 1px;
}
/* small leters on header */
.nav_head_left,.nav_head_right {
    font-size: 12px;
    color: #707070;
}

/* header center logo */
.nav_head_center img {
    width: 265px;
    height: 54px;
}

/* header right text */
.nav_head_right{
    font-size: 12px;
}
.nav_head_right a:hover {
    text-decoration: underline;
}

/* top nav bar */
.top_nav_bar {
    width: 1280px;
    margin: 0 auto;
}

.top_nav_bar_left #hamburger_icon,#search_icon {
    padding-right: 10px;
}
.top_nav_bar_left {
    width: 127px;
    float: left;
}
.top_nav_bar_menus ul {
    list-style: none;
    margin: 0 auto;
    width: 900px;
    float: left;  
}
.top_nav_bar_menus li {
    display: inline;
    padding: 0 10px 0 10px;
}
/* main layout */
.img_box{
    width: 300px;
    height: 168px;
}
.main_layout img {
    width: 100%;
}
.newsarticle_1_title {
font-size: 2.2rem;
font-weight: 600;
}
.main_layout  {
    
}